$bg-color-footer: #323544;
$bg-color-footer-dark: #212330;
$bg-color-gold: #ffa500;
$bg-color-blue: #4183d7;
$bg-color-green: #2ecc71;
$bg-color-red: #d64541;
$bg-color-pink: #f62459;
$bg-color-purp: #926fb1;
$bg-color-brown: #d66049;

$primary-font: 'poppins', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

html,
body {
  font-family: $primary-font;
  font-size: 16px; // optional default
  line-height: 1.5;
}
