$bg-color-footer: #323544;
$bg-color-footer-dark: #212330;

$primary-font: 'poppins', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

html, body {
  font-family: $primary-font;
  font-size: 16px; // optional default
  line-height: 1.5; 
}
