body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 992px) {
    max-width: 1400px; // Increased to 1400px for 5 columns + padding + gaps
  }

  @media (min-width: 1260px) {
    max-width: 1400px;
  }
}
